@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--bs-font-sans-serif);
}

/*variables*/
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  }


  /*banner area*/
  .banner{
      position: relative;
      width: 100vw;

  }

  /*global*/
.container{
      position: relative;
      margin-left: 100px;
      margin-right: 100px;
}

/*navigation bar*/
nav{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100vw;
    height: 10vh;
    background: #ffff;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.432);
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav > .logo span{
    font-size: 36px;
    font-weight: bolder;
    color: rgb(14, 218, 14);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > .logo .music{
    transform: rotate(-25deg);
    margin: 0;
    width: 20px;
    color: #140b2efd;
}

nav > .navlinks > .container .nav-items{
    position: relative;
    width: 25vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-items > a{
    color: #140b2eb6;
    font-size: 15px;
    text-decoration: none;
    font-weight: 550;
}

.nav-items > a:hover{
    color: #140b2ee7;
    transition: 0.5s ease-in-out;
}

nav > .nav-btn > .btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 13vw;
}

nav > .nav-btn input{
    height: 40px;
    width: 120px;
    font-size: 15px;
    font-weight: 550;
    background: none;
    border-radius: 5px;
    cursor: pointer;

}

nav > .nav-btn input:hover{
    border: none;
    background: #140b2efd;
    color: #fff;
    transition: 1s ease-in-out;
}

nav > .nav-btn i{
    color: rgb(197, 109, 109);
    cursor: pointer;
}

nav > .nav-btn i > .logintext{
    visibility: hidden;
    width: 60px;
    color: rgb(14, 11, 66);
    text-align: center;
    padding: 5px 0;
    border-radius: 5px;
    position: absolute;
    top: 30px;
    left: 80%;
    font-size: 14px;
    font-weight: normal;
    z-index: 1;
    transition: 0.1s ease-in-out;
}

nav > .nav-btn i:hover .logintext{
    visibility: visible;
}


/*intro display*/
.banner > .section1{
    position: relative;
    height: 40vh;
    background-color: #d8e7fc;
    margin-top: 70px;

}

.banner > section > .intro{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.intro > .controls h1{
    font-size: 2em;
    margin-bottom: 30px;
    letter-spacing: 10%;
    font-family: 'Oswald', sans-serif;
}

.intro > .controls > .media{
    margin-bottom: 30px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.media > i{
    margin-right: 30px;
}

.intro > .controls > .access-btn{
    display: flex;
    flex-direction: row;

}

.access-btn > input{
    width: 150px;
    height: 40px;
    background: none;
    border: solid;
    border-radius: 5px;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.05em;
    margin-right: 30px;
    cursor: pointer;

}

/*section 2 styles*/
.banner > .section2{
    position: relative;
}

.section2 > .browse h1{
    font-weight: bolder;
    font-size: 26px;

    color: #0D0C27;
    border-bottom: solid;
    width: 15vw;
    height: 10vh;
    display: flex;
    align-items: center;

}

.browse  > .content{
    position: relative;
   
}

.content .thumnail{
    position: relative;
    height: 20vh;
    margin-top: 20px;
    margin-bottom: 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.thumnail .details{
    position: relative;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}