<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/css/podcast.css">
    <script src="https://kit.fontawesome.com/a9f6e9c98f.js" crossorigin="anonymous"></script>
    <title>Podcasts</title>
</head>
<body>

    <div class="banner">
        <!--navigation bar-->
        <nav class="navbar " >

            <div class="logo" >
                <div class="container">
                    <span class="h3">LISTEN</span>
                </div>
            </div>

            <div class="navlinks ">
                <div class="container">
                    <div class="nav-items"  >
                        <a class="nav-link active me-5" aria-current="page" href="#">Home</a>
                        <a class="nav-link me-5" href="#">About</a>
                        <a class="nav-link me-5" href="#">Contact</a>
                        <a class="nav-link me-5" href="#">Podcasts</a>
                    </div>
                </div>
                
            </div>

            <div class="nav-btn " >
                <div class="container btn">
                    <input  type="button" name="search" value="Subscribe" class="sub" >
                    <i class="fas fa-sign-in-alt fa-2x"></i>
                </div>
                
            </div>
            
        </nav>

        <!--Section 1-->
        <section class="section1">
            <div class="container intro">

                <div class="img">
                    <img src="../images/pod1.png" width="439px" alt="img">
                </div>

                <div class="controls">

                    <h1>A SHORT WAVE GOODBYE FOR MY  FRIENDS IN CARLIFONIA</h1>
                    <div class="media">
                        <!--
                        <i class="far fa-play-circle fa-2x"></i>
                        <i class="fas fa-volume-up fa-2x"></i>
                        <i class="fas fa-angle-double-down fa-2x"></i>
                        -->
                        <audio controls>
                            <source src="horse.ogg" type="audio/ogg">
                            <source src="horse.mp3" type="audio/mpeg">
                          Your browser does not support the audio element.
                          </audio>
                        
                    </div>
                    <div class="access-btn">
                        <input type="button" name="itunes" id="itunes" value="iTUNES">
                        <input type="button" name="spotify" id="spotify" value="SPOTIFY">
                        <input type="button" name="apple" id="apple" value="APPLE">
                    </div>

                </div>
            </div>

        </section>

    </div>
    
     
</body>
</html>