<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/css/podcast.css">
    <script src="https://kit.fontawesome.com/a9f6e9c98f.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <title>Podcasts</title>
</head>
<body>

    <div class="banner">
        <!--navigation bar-->
        <header>

            <div class="updates">
                Get important updates here
                <i class="fas fa-times"></i>
            </div>

            <div class="navbar container" >
                <div class="logo" >
                    <span class="h3">L<span class="material-icons md-48 music">
                        music_note
                    </span>STEN</span>
                </div>
    
                <nav class="navlinks ">   
                    <a class="nav-link active me-5" aria-current="page" href="../index.html">Home</a>
                    <a class="nav-link me-5" href="#">About</a>
                    <a class="nav-link me-5" href="#">Contact</a>
                    <a class="nav-link me-5" href="#">Podcasts</a>  
                </nav>
    
                <div class="btns " >
                    <input  type="button" name="search" value="Subscribe" class="sub" >
                    <i class="fas fa-sign-in-alt fa-lg tooltip">
                        <span class="logintext">Login</span>
                    </i>
                    
                </div>

            </div>

        </header>
        
       

        <!--Section 1-->
        <section class="section sec1">

            <div class="pod-intro">

                <div class="img">
                    <img src="../images/pod1.png" width="439px" alt="img">
                </div>

                <div class="controls">

                    <h1>A SHORT WAVE GOODBYE FOR MY  FRIENDS IN CARLIFONIA</h1>
                    <div class="media">
                        <!--
                        <i class="far fa-play-circle fa-2x"></i>
                        <i class="fas fa-volume-up fa-2x"></i>
                        <i class="fas fa-angle-double-down fa-2x"></i>
                        -->
                        <audio controls>
                            <source src="horse.ogg" type="audio/ogg">
                            <source src="horse.mp3" type="audio/mpeg">
                          Your browser does not support the audio element.
                          </audio>
                        
                    </div>

                    <div class="access-btn">
                        <input type="button" name="itunes" id="itunes" value="iTUNES">
                        <input type="button" name="spotify" id="spotify" value="SPOTIFY">
                        <input type="button" name="apple" id="apple" value="APPLE">
                    </div>

                </div>
            </div>

        </section>

        <section class="section sec2">

            <div class="browse">

                <div class="title">
                    <h1 class="main-mgn">BROWSE  <span>EPISODES</span> </h1>
                </div>

                <div class="content main-mgn">

                    <div class="thumnail">
                        <div class="img">
                            <img src="../images/pod3.jpg" alt="img" width="250px">
                        </div>
                        <div class="details">
                            <div class="tags">
                                <span>Season 1</span>
                                <span>Episode 1</span>
                                <span>#hashtags #hashtags</span>
                            </div>

                            <div class="media">
                                <!--
                                <i class="far fa-play-circle fa-2x"></i>
                                <i class="fas fa-volume-up fa-2x"></i>
                                <i class="fas fa-angle-double-down fa-2x"></i>
                                -->
                                <audio controls>
                                    <source src="horse.ogg" type="audio/ogg">
                                    <source src="horse.mp3" type="audio/mpeg">
                                  Your browser does not support the audio element.
                                  </audio>
                                
                            </div>

                            <div class="desc">
                                <p>
                                    Voluptatibus, amet doloremque eum similique consequatur atque fugiat aspernatur numquam quaerat vero doloribus dolore consectetur? 
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="thumnail">
                        <div class="img">
                            <img src="../images/pod3.jpg" alt="img" width="250px">
                        </div>
                        <div class="details">
                            <div class="tags">
                                <span>Season 1</span>
                                <span>Episode 1</span>
                                <span>#hashtags #hashtags</span>
                            </div>

                            <div class="media">
                                <!--
                                <i class="far fa-play-circle fa-2x"></i>
                                <i class="fas fa-volume-up fa-2x"></i>
                                <i class="fas fa-angle-double-down fa-2x"></i>
                                -->
                                <audio controls>
                                    <source src="horse.ogg" type="audio/ogg">
                                    <source src="horse.mp3" type="audio/mpeg">
                                  Your browser does not support the audio element.
                                  </audio>
                                
                            </div>

                            <div class="desc">
                                <p>
                                     Voluptatibus, amet doloremque eum similique consequatur atque fugiat aspernatur numquam quaerat vero doloribus dolore consectetur? 
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="thumnail">
                        <div class="img">
                            <img src="../images/pod3.jpg" alt="img" width="250px">
                        </div>
                        <div class="details">
                            <div class="tags">
                                <span>Season 1</span>
                                <span>Episode 1</span>
                                <span>#hashtags #hashtags</span>
                            </div>

                            <div class="media">
                                <!--
                                <i class="far fa-play-circle fa-2x"></i>
                                <i class="fas fa-volume-up fa-2x"></i>
                                <i class="fas fa-angle-double-down fa-2x"></i>
                                -->
                                <audio controls>
                                    <source src="horse.ogg" type="audio/ogg">
                                    <source src="horse.mp3" type="audio/mpeg">
                                  Your browser does not support the audio element.
                                  </audio>
                                
                            </div>

                            <div class="desc">
                                <p>
                                    Voluptatibus, amet doloremque eum similique consequatur atque fugiat aspernatur numquam quaerat vero doloribus dolore consectetur? 
                               </p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="btn">
                    <input type="button" value="Browse more">
                </div>

            </div>

        </section>

        <footer>
            <div class="layer1 container">
                
                <div class="logo" >
                    <span class="h3">L<span class="material-icons md-48 music">
                        music_note
                    </span>STEN</span>

                    <p>
                        Leveraging on trendy topics that will captivate your attension and worth following.
                    </p>
                </div>

                <div class="links">
                    <span class="h5 mb-4">Topics</span>
                    <h6>Lifestyle</h6>
                    <h6>Technology</h6>
                    <h6>Science</h6>
                    <h6>Fashion & design</h6>
                    <h6>Love & affection</h6>
                    <h6>Nature and wildlife</h6>
                </div>

                <div class="tags">
                    <span>#lifestyle</span>
                    <span>#lifestyle</span>
                    <span>#lifestyle</span>
                    <span>#lifestyle</span>
                    <span>#lifestyle</span>
                    <span>#lifestyle</span>
                    <span>#lifestyle</span>
                    <span>#lifestyle</span>
                    <span>#lifestyle</span>
                </div>

            </div>

            <div class="layer2 ">
                <div class="socials">
                    <i class="fab fa-facebook-f fa-lg"></i>
                    <i class="fab fa-twitter fa-lg"></i>
                    <i class="fab fa-tiktok fa-lg"></i>
                    <i class="fab fa-telegram-plane fa-lg"></i>
                </div>

                <div class="subscribe">
                    <input type="text" placeholder="Enter email to subscibe">
                    <input type="button" value="Subscribe">

                </div>
            </div>

            <div class="layer3">
                <h6>&copy 2021</h6>

            </div>

        </footer>

    </div>
    
     
</body>
</html>